@(changePasswordForm: Form[(String, String)], user: domain.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("change.password.title"), Some(user)) {
    <div class="codes">
        <div class="container">
            <fieldset class="col-md-6 col-md-offset-3">
                <legend>@Messages("change.password")</legend>
                @helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
                    <p class="info">@Messages("strong.password.info")</p>
                    @helper.CSRF.formField
                    @b3.password(changePasswordForm("current-password"), '_hiddenLabel -> Messages("current.password"), 'placeholder -> Messages("current.password"), 'class -> "form-control")

                    <div class="form-group">
                        <div>
                            <button id="submit" type="submit" value="submit" class="btn btn-default btn-block">@Messages("change")</button>
                        </div>
                    </div>
                }
            </fieldset>
        </div>
    </div>
}