@(editProfile: Form[(Short, Short, String)], user: domain.User)(implicit request: RequestHeader, flash: Flash, messages: Messages, webJarAssets: WebJarAssets)

@import b3.vertical.fieldConstructor

@main(messages("professional.profile.edit.page.title"), Some(user)) {

    <div class="services wthree-4">
        <div class="container">
            <fieldset class="col-md-6 col-md-offset-3">
                <legend>@messages("professional.profile.edit.form.title")</legend>
            @b3.form(routes.ProfessionalController.updateprofessionalProfile) {
                @b3.inputType("number", editProfile("numberOfCases"), 'placeholder -> messages("professional.profile.edit.form.field1"))
                @b3.inputType("number", editProfile("yearsOfExperience"), 'placeholder -> messages("professional.profile.edit.form.field2"))
                @b3.textarea(editProfile("aboutMe"), 'placeholder -> messages("professional.profile.edit.form.field3"), 'rows -> 3)
                @helper.CSRF.formField
                @b3.submit('class -> "btn btn-default") { @messages("professional.profile.edit.form.submit") }
            }
            </fieldset>
        </div>
    </div>
}



