@(currentPage: domain.Page[((domain.Profile, domain.DBUser), Seq[(domain.Expert, domain.Speciality)])], currentOrderBy: Int, currentFilter: String, user: Option[domain.User])(implicit request: RequestHeader, flash: Flash, messages: Messages, webJarAssets: WebJarAssets)
@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.ProfessionalController.listApplicationExpertise(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)

}

@import b3.inline.fieldConstructor

@scripts = {
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
}



    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
        if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main(messages("customer.professional.list.page.title"), user, scripts) {
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h1>@messages("customer.professional.list.page.header")</h1>
                <hr/>

                <div class="col-md-12">
                    <ul class="list-inline text-right">
                        <li>
                            <form action="@routes.ProfessionalController.listApplicationExpertise()" class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@messages("search.name")"/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-search">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class="clearfix visible-md-block"></div>
                </div>
                <hr/>

                <div class="col-md-12">
                @Option(currentPage.items).filterNot(_.isEmpty).map { profiles =>

                    @profiles.map {
                        case (userGroup,group) => {
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    @userGroup._1.avatarUrl.map{case (image) =>
                                    <img src="@image" class="img-circle img-responsive">
                                    }.getOrElse{
                                        <img src="@routes.Assets.at("images/user.png")" class="img-circle img-responsive">
                                    }
                                </div>
                                <div class="col-md-8">
                                    @userGroup._2.fullName.map{ name =>
                                    <h3><a href="@routes.ProfessionalController.profile(userGroup._1.id.getOrElse(0))">@name</a></h3>
                                    }.getOrElse{
                                        <h3>Sorry something is wrong</h3>
                                    }
                                    <ul class="list-group">
                                        <li class="list-group-item"><strong>@messages("customer.professional.list.page.item.cases"):</strong> @userGroup._1.numberOfCases</li>
                                        <li class="list-group-item"><strong>@messages("customer.professional.list.page.item.years"):</strong> @userGroup._1.yearsOfExperience</li>
                                        <li class="list-group-item">
                                            <strong>@messages("customer.professional.list.page.item.fields"):</strong>
                                            @Option(group).filterNot(_.isEmpty).map{ case (info) =>
                                                @info.map{ case(a,b) =>
                                                    @b.name
                                                }
                                            }.getOrElse{
                                                @messages("customer.professional.list.page.item.empty.applications")
                                            }
                                        </li>
                                    </ul>
                                    @if(!group.isEmpty){
                                    <button class="btn btn-default requestAgenda" data-couch-target="@userGroup._1.id.get" data-couch-action="@routes.AgendaController.detail(userId = userGroup._1.userId.getOrElse(""))">@messages("customer.professional.list.page.item.btn.agenda")</button>
                                    }
                                </div>
                                <hr class="clearfix"/>
                                <div id="@userGroup._1.id.get">


                                </div>
                            </div>
                        }
                    }
                <nav>
                    <ul class="pager">
                        @currentPage.prev.map { page =>
                        <li class="previous">
                            <a href="@link(page)">&larr;
                                @messages("pagination.previous")</a>
                        </li>
                        }.getOrElse {
                            <li class="previous disabled">
                                <a>&larr; @messages("pagination.previous")</a>
                            </li>
                        }
                        @currentPage.next.map { page =>
                        <li class="next">
                            <a href="@link(page)">@messages("pagination.next") &rarr;</a>
                        </li>
                        }.getOrElse {
                            <li class="next disabled">
                                <a>@messages("pagination.next") &rarr;</a>
                            </li>
                        }
                </ul>
                </nav>

                }.getOrElse {

                    <div class="well">
                        <em>@messages("empty.results")</em>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>
}







