@(currentPage: domain.Page[(domain.Expert, domain.Speciality)], currentOrderBy: Int, currentFilter: String, user:domain.User)(implicit request: RequestHeader, flash: Flash, messages: Messages, webJarAssets: WebJarAssets)
@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.ProfessionalController.listApplicationExpertise(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy  @if(scala.math.abs(currentOrderBy) == orderBy) @{
        if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main(messages("professional.list.page.title"), Some(user)) {
    <div class="services wthree-4">
        <div class="container">

                <h1>@messages("professional.expertise.fields.list")</h1>
                <hr/>


                <div class="col-md-12">
                    <ul class="list-inline text-right">
                        <li>
                            <a class="btn btn-default btn-block" id="add" href="@routes.ProfessionalController.newApplication()">
                                @messages("professional.expertise.fields.btn.new")</a>
                        </li>
                        <li>
                            <form action="@routes.ProfessionalController.listApplicationExpertise()" class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@messages("search.name")"/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-search">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class="clearfix visible-md-block"></div>
                </div>
                <hr/>

                <div class="col-md-12">
                @Option(currentPage.items).filterNot(_.isEmpty).map { experts =>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            @header(1, messages("admin.speciality.new.btn.title"))
                            @header(2, messages("professional.expertise.fields.header.approval"))
                        </tr>
                    </thead>
                    <tbody>

                    @experts.map {
                        case (expert, speciality) => {
                            <tr>
                                <td>
                                @speciality.name
                                </td>
                                <td>
                                @if(expert.isApproved) {
                                    @messages("professional.expertise.fields.header.approved")
                                } else {
                                    @messages("professional.expertise.fields.header.approve")
                                }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

                <nav>
                    <ul class="pager">
                        @currentPage.prev.map { page =>
                        <li class="previous">
                            <a href="@link(page)">&larr; @messages("pagination.previous")</a>
                        </li>
                        }.getOrElse {
                            <li class="previous disabled">
                                <a>&larr; @messages("pagination.previous")</a>
                            </li>
                        }
                        @currentPage.next.map { page =>
                        <li class="next">
                            <a href="@link(page)">@messages("pagination.next") &rarr;</a>
                        </li>
                        }.getOrElse {
                            <li class="next disabled">
                                <a>@messages("pagination.next") &rarr;</a>
                            </li>
                        }
                    </ul>
                </nav>

                }.getOrElse {

                    <div class="well">
                        <em>@messages("empty.results")</em>
                    </div>

                }
                </div>

        </div>
    </div>

}
