@(profile: Option[domain.Profile], user: domain.User)(implicit request: RequestHeader, flash: Flash, messages: Messages, webJarAssets: WebJarAssets)

@main("", Some(user)) {

    <div class="services wthree-4">
        <div class="container">

                <div class="col-md-12">
                    <div class="col-md-4">
                        @profile.get.avatarUrl.map { case (image) =>
                        <img src="@routes.Application.imagesRequest(name = image)" class="img-circle img-responsive">
                        }.getOrElse {
                            <img src="@routes.Assets.at("images/user.png")" class="img-circle img-responsive">
                        }
                        @helper.form(action = routes.ProfessionalController.updateprofessionalPhotoProfile(), 'enctype -> "multipart/form-data") {

                            <input type="file" name="file">
                            @helper.CSRF.formField
                            <p>
                                <input type="submit">
                            </p>

                        }
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li><strong>@messages("professional.profile.edit.form.field2")</strong> @profile.get.yearsOfExperience</li>
                            <li><strong>@messages("professional.profile.edit.form.field1")</strong> @profile.get.numberOfCases</li>
                            <li><strong>@messages("professional.profile.edit.form.field3")</strong> @profile.get.aboutMe.getOrElse("")</li>
                        </ul>
                        <a class="btn btn-default" href="@routes.ProfessionalController.editprofessionalProfile()">edit</a>
                    </div>
                </div>

        </div>
    </div>


}