@(info:(Seq[(domain.Expert,domain.Speciality)],(domain.DBUser,domain.Profile)), user: Option[domain.User])(implicit request: RequestHeader, flash: Flash, messages: Messages, webJarAssets: WebJarAssets)


@main("", user){
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>@info._2._1.fullName.get</h2>
                <hr/>
                <div class="col-md-12">
                    <div class="col-lg-4">
                        <li class="list-group-item"><strong>@messages("customer.professional.list.page.item.cases"):</strong> @info._2._2.numberOfCases.getOrElse(0)</li>
                        <li class="list-group-item"><strong>@messages("customer.professional.list.page.item.years"):</strong> @info._2._2.yearsOfExperience.getOrElse(0)</li>
                        <li class="list-group-item"><strong>Number of Recommendations:</strong> @info._2._2.numberOfRecommendations.getOrElse(0)</li>
                        <li class="list-group-item"><strong>About me:</strong> @info._2._2.aboutMe.getOrElse("")</li>
                    </div>
                    <div class="col-lg-4">
                    @info._2._2.avatarUrl.map{case (image) =>
                    <img src="@image" width="400px" height="300px" class="img-circle img-responsive">
                    }.getOrElse{
                        <img src="@routes.Assets.at("images/user.png")" class="img-circle img-responsive">
                        }
                    </div>
                    <div class="col-lg-4">
                        @info._1.map{ case(e,s) =>
                            @s.name
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}