@(user: Option[domain.User])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), user) {

    <div class="about wthree-1">
        <div class="container">
            <div class="about-grids agile-1">

                <div class="col-md-6 about-grid agileits-1">
                    <div class="about-header">
                        <h3>@messages("about.left.title")</h3>
                    </div>
                    <div class="about-1">
                        <h4>@messages("about.enum.title1")</h4>
                        <p>@messages("about.enum.subtitle1")</p>
                        <h4>@messages("about.enum.title2")</h4>
                        <p>@messages("about.enum.subtitle2")</p>
                        <h4>@messages("about.enum.title3")</h4>
                        <p>@messages("about.enum.subtitle3")</p>
                        <h4>@messages("about.enum.title4")</h4>
                        <p>@messages("about.enum.subtitle4")</p>
                    </div>
                </div>
                <div class="col-md-6 about-grid agileits-1">
                    <div class="about-header">
                        <h3>@messages("about.right.title")</h3>
                    </div>
                    <div class="about-1">
                        <img src="@routes.Assets.at("images/ab1.jpg")" class="img-responsive" alt="/">
                        <h4>@messages("about.right.subtitle")</h4>
                        <p>@messages("about.right.description")</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="about-bottom">

                    <h1>Our Team</h1>

                    <div class="team-info w3agile-1">
                        <div class="col-md-3 team-grids agileinfo-1">
                            <a href="#">
                                <img class="img-responsive" src="@routes.Assets.at("images/t4.jpg")" alt="">
                                <div class="captn">
                                    <h4>Tincidun</h4>
                                    <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids agileinfo-1">
                            <a href="#">
                                <img class="img-responsive" src="@routes.Assets.at("images/t5.jpg")" alt="">
                                <div class="captn">
                                    <h4>Velit uti</h4>
                                    <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids agileinfo-1">
                            <a href="#">
                                <img class="img-responsive" src="@routes.Assets.at("images/t6.jpg")" alt="">
                                <div class="captn">
                                    <h4>Posuere</h4>
                                    <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids agileinfo-1">
                            <a href="#">
                                <img class="img-responsive" src="@routes.Assets.at("images/t7.jpg")" alt="">
                                <div class="captn">
                                    <h4>Augc sfe</h4>
                                    <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="container">
            <h2>@messages("about.testimonials.title")</h2>
            <div class="test-grids">
                <div class="col-md-4 test-grid">
                    <p>@messages("about.testimonials.enum.description1")</p>
                    <h4>@messages("about.testimonials.enum.name1")</h4>
                </div>
                <div class="col-md-4 test-grid">
                    <p>@messages("about.testimonials.enum.description2")</p>
                    <h4>@messages("about.testimonials.enum.name2")</h4>
                </div>
                <div class="col-md-4 test-grid">
                    <p>@messages("about.testimonials.enum.description3")</p>
                    <h4>@messages("about.testimonials.enum.name3")</h4>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

        <!-- //agile -->

}