@(id: Long, applicationRegisterForm: Form[domain.Expert], user: domain.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import helper._

@main(messages("admin.speciality.application.edit.page.title"), Some(user)) {

    <div class="services wthree-4">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
            @form(action = routes.Admin.updateSpecialityApplications(id)) {
                @CSRF.formField
                @if(applicationRegisterForm.hasGlobalErrors) {
                    <ul>
                    @for(error <- applicationRegisterForm.globalErrors) {
                        <li>@Messages(error.messages, error.args)</li>
                    }
                    </ul>
                }

                <div class="form-group" style="display: none">
                    <label for="inputId">Id</label>
                    <input name="@applicationRegisterForm("id").name" value="@applicationRegisterForm("id").value" type="hidden" class="form-control" id="inputId" placeholder="ID" />
                    @for(error <- applicationRegisterForm.errors("id")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group">
                    <label for="inputName">@messages("admin.speciality.new.form.name")</label>
                    <input name="@applicationRegisterForm("fullName").name" value="@applicationRegisterForm("fullName").value" type="text" class="form-control" id="inputFullName" placeholder="Nome" readonly>
                    @for(error <- applicationRegisterForm.errors("fullName")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group">
                    <label for="inputName">@messages("professional.expertise.form.rate")</label>
                    <input name="@applicationRegisterForm("rate").name" value="@applicationRegisterForm("rate").value" type="text" class="form-control" id="inputFullName" placeholder="" readonly>
                    @for(error <- applicationRegisterForm.errors("rate")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input name="@applicationRegisterForm("isApproved").name" value="true" type="checkbox" id="inlineIsAproved" value="Aprovar">
                        @messages("admin.speciality.application.new.form.approve")
                    </label>
                    @for(error <- applicationRegisterForm.errors("isApproved")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group" style="display: none">
                    <label for="inputuserId">Utilizador</label>
                    <input name="@applicationRegisterForm("userId").name" value="@applicationRegisterForm("userId").value" type="hidden" class="form-control" id="inputUserId" placeholder="Utilizador ID" />
                    @for(error <- applicationRegisterForm.errors("userId")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group" style="display: none">
                    <label for="inputspecialityId">Especialidade</label>
                    <input name="@applicationRegisterForm("specialityId").name" value="@applicationRegisterForm("specialityId").value" type="hidden" class="form-control" id="inputspecialityId" placeholder="Especialidade" />
                    @for(error <- applicationRegisterForm.errors("specialityId")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <div class="form-group" style="display: none">
                    <label for="inputCreatedAt">CreatedAt</label>
                    <input name="@applicationRegisterForm("createdAt").name" value="@applicationRegisterForm("createdAt").value" type="hidden" class="form-control" id="inputCreatedAt" placeholder="createdAt" />
                    @for(error <- applicationRegisterForm.errors("createdAt")) {
                        <span class="error">
                        @Messages(error.message)
                        </span>
                    }
                </div>

                <button type="submit" class="btn btn-default">Editar</button>

            }
            </div>

            <hr/>
        </div>
    </div>
}
